<template>
    <swiper :style="{height: height+'px'}" ref="mySwiper" class="qf-swiper" :options="swiperOptions">
        <swiper-slide v-for="(item,i) in data" v-bind:key="i">
            <img :src="item" alt="">
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
</template>

<script>
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
    props: {
        data: {
            type: Array,
            required: true,
            // validator() {}
        },
        height: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
        swiperOptions: {
            pagination: {
            el: '.swiper-pagination'
            },
            // Some Swiper option/callback...
        }
        }
    },
    components: {
        Swiper,
        SwiperSlide
    },
    directives: {
        swiper: directive
    },
    computed: {
        swiper() {
        return this.$refs.mySwiper.$swiper
        }
    },
    mounted() {
        console.log('Current Swiper instance object', this.swiper)
        this.swiper.slideTo(3, 1000, false)
    }
}
</script>

<style scoped>
.qf-swiper {
    height: 300px;
}
.qf-swiper img {
    width: 100%;
    height: 100%;
}
</style>