<template>
  <div class="about">
    <h1>This is an about page</h1>

    <qf-swiper :data="swiperData" :height="700"></qf-swiper>
  </div>
</template>


<script>
// import Swiper from '../components/Swiper/Swiper'
export default {
  // components: { Swiper },
  data() {
    return {
        swiperData: [
            'https://img1.baidu.com/it/u=3553722178,4231463612&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=625',
            'https://img1.baidu.com/it/u=1924576430,3438698656&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=625',
            'https://img1.baidu.com/it/u=922022825,3112727932&fm=253&fmt=auto&app=138&f=JPEG?w=462&h=500'
        ]
    }
  },
  created() {
    // fetch("http://kg.zhaodashen.cn/mt/web/area/index.jsp")
    fetch("/gtg/area/index.jsp")
    .then(res => res.json())
    .then(res => {
      console.log(res);
    })
  }
}
</script>