<template>
    <form action="">
        <p>
        用户名 <input type="text" />
        </p>
        <p>
        密码  <input type="password" name="" id="" />
        </p>
        <p>
        <input type="submit" value="提交登录">
        </p>
    </form>
</template>

<script></script>

<style scoped>
* {
    color:red;
}
</style>