<template>
    <div>
        <!-- 轮播图 -->
        <qf-swiper :height="600" :data="swiperData"></qf-swiper>
        <!-- 轮播图 -->

        <!-- TodoList -->
        <h1>TodoList</h1>
        <input type="text" v-model="content">
        <button @click="addFn">追加</button>

        <ul>
            <!-- TODO: 面试题 为啥要写  虚拟DOM diff算法 -->
            <li v-for="(item, i) in todos" v-bind:key="i">
                {{item}} <button @click="delFn(i)">删除</button>
            </li>
        </ul>
    </div>
</template>

<script>
// import Swiper from '@/components/Swiper/Swiper'  // 简单理解为： {template:``, data, methods}

export default {

    // components: {
    //     // 声明子组件
    //     // 留心：之前html引入vue 严格区分大小写，现在是在框架中  不区分大小写
    //     // Qftest: {
    //     //     template:`<h1>你好/hello/靠你青蛙🐸/萨瓦迪卡/牛逼哥斯拉！！！！</h1>`
    //     // }
    //     // Swiper: Swiper
    //     Swiper
    // },

    data() {
        return {
            content: '',

            todos: [
                {id:1, content: '看帅哥'},
                {id:2, content: '加帅哥好友'},
                {id:3, content: '心累┓(;´_｀)┏'},
            ],

            swiperData: [
                'https://img1.baidu.com/it/u=3553722178,4231463612&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=625',
                'https://img1.baidu.com/it/u=1924576430,3438698656&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=625',
                'https://img1.baidu.com/it/u=922022825,3112727932&fm=253&fmt=auto&app=138&f=JPEG?w=462&h=500'
            ]
        }
    },
    methods: {
        delFn(i) {
            // this.todos.splice(索引, 个数)
            this.todos.splice(i, 1)
        },
        addFn() {
            this.todos.push({
                id: this.todos.length + 1,
                content: this.content
            })
        }
    },

}
</script>

<style>
</style>