<template>
  <div id="app">

    <!-- ul>li*9>img[src="@/assets/$.jpg"] -->
    <ul>
      <li><img src="@/assets/1.jpg" alt=""></li>
      <li><img src="@/assets/2.jpg" alt=""></li>
      <li><img src="@/assets/3.jpg" alt=""></li>
      <li><img src="@/assets/5.jpg" alt=""></li>
      <li><img src="@/assets/6.jpg" alt=""></li>
      <li><img src="@/assets/7.jpg" alt=""></li>
      <li><img src="@/assets/8.gif" alt=""></li>
      <li><img src="@/assets/zhujiao.jpg" alt=""></li>
    </ul>
    
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    
    <!-- 
    根组件，挖坑显示子组件数据

    或者

    根组件，挖坑将匹配的路由 对应组件数据展示   匹配不显示
    -->
    <router-view/>
  </div>
</template>

<script>

console.log(6666666);
console.log(6666666);
console.log(6666666);
console.log(6666666);
console.log(6666666);
console.log(6666666);
console.log(6666666);
console.log(6666666);


export default {
  data() {
    return {}
  },
  methods: {
    
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
